$smallNavTransitionDuration: 0.2s;
$smallNavHeight: 50px;
$smallNavTransitionEasing: $ease-in-out-sine;
$smallNavAtWidth: 1000px;

.header-logo { 
	display: block;
	width: 220px;
	position: fixed;
	z-index: 11;
	top: 60px;
	@include transform-origin( top left );
	@include transition( $smallNavTransitionDuration all $smallNavTransitionEasing );
	
	.small-nav & {
		top:4px;
		width: 100px;
	}
	
	@media screen and (max-width: $smallNavAtWidth) {
		& {
			top: 40px;
			width: 100px;		
		}
	}
	
	@media screen and (max-width: $collapseNavAt) {
		& {
			position: static;
			margin: 0 auto;
		}
	}
	
}

header {
	position: fixed;
	top:0; left:0; right:0;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	z-index: 11;
	@include transform( translateZ(0) );
}
