$navTopHeight: 36px;
$navHeight: 145px;

.toggle-nav { 
	outline: none;
	color: $greenColor;
	display: none;
	position: fixed;
	background: transparent;
	top: 2px; left: 5px;
	z-index: 24;
	height: 42px;
	padding: 10px 10px 10px 40px;
	font-weight: 500;
	@include transition( 0.2s all $ease-in-out-sine 0s );
	text-transform: uppercase;
	
	@media screen and (max-width: 600px) {
		font-size:0;
		padding-left: 30px;
	}
		
	.show-nav &,
	&:hover {
		background: $greenColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: #fff; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid $greenColor;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $greenColor !important; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid $greenColor;
			@include transform-origin( top left );
			.show-nav & {
				margin-left: -1px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { @include transform( rotate3d(0,0,1,-45deg) ); }
		}
		
	}
	
}

.nav {
	position: fixed;
	top:0; left:0; right:0;
	z-index: 10;
	font-weight: 500; /* semibold */
	background: #fff;
	
	@include transition( $smallNavTransitionDuration transform $smallNavTransitionEasing );
	
	&:before {
		content:"";
		position: absolute;
		top:0; left:0; right:0;
		height: $navTopHeight;
		background: $greenColor;
	}
}

.nav .toggle-search {
	display: inline-block;
	font-size: 20px;
	vertical-align: middle;
	width: 50px; height: 50px;
	color: #606060;
	
	.show-search &,
	&:hover {
		background: $greenColor;
		color: #fff;
	}
}

nav {
	
	padding-top: $navTopHeight;
	text-align: right;
	
	
	&>ul {
		vertical-align: middle; 
		@include display( inline-flex );
		@include align-items( center );
		@include justify-content( flex-end );
		@include transition( $smallNavTransitionDuration height $smallNavTransitionEasing );
		height: $navHeight;
		
		&>li {
			position: relative;
			margin-right: -1px;
			
			&:after {
				content:"";
				position: absolute;
				left:0; top: 12px; bottom: 12px;
				border-left: 1px solid #606060;
			}
			&:first-child:after { display: none; }
		
			&>a {
				color: #606060;
				display: block;
				padding: 14px 20px;
				@include transition( 0.1s all $ease-in-out-sine );
			}
			
			&:hover {
				
				&>a {
					background: $greenColor;
					color: #fff;
				}
				
			}
			
		}
		
	}
	
	div {
		position: absolute;
		text-align:left;
		top: 100%; left:0; right: -100px;
		@include transform( scale(1,0) );
		@include transform-origin( top center );
		@include transition( 0.15s transform $ease-in-out-sine );
		
		ul {
			display: inline-block;
		}
		
		a {
			display: block;
			padding: 10px 20px;
			color: #fff;
			background: $greenColor;
			position: relative;
			
			&:hover {
				background: $darkGreenColor;
			}
			
			&:before {
				position: absolute;
				top:0; left:0; right:0; 
				background: #1d7134;
				box-shadow: 0 0 4px rgba(255,255,255,0.2);
				content:"";
				height: 1px;
			}
			
		}
	}
	
	li:hover div {
		@include transform( scale(1,1) );
	}
}

.nav-top {
	position: absolute;
	top:0; right:0;
	
	a {
		color: #fff;
		display: block;
		font-size:12px;
		padding: 0 8px;
		float:left;
		line-height: $navTopHeight;
		text-transform: uppercase;
		@include transition( 0.2s background $ease-in-out-sine );
		
		&:hover {
			background: $darkGreenColor;
		}
	}
}

/* small-nav */
.small-nav { 
	.nav { 
		@include transform( translate3d(0,-$navTopHeight,0) ); 
		box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	}
	nav>ul { height: $smallNavHeight; }
}

@media screen and (max-width: $smallNavAtWidth) {
	nav>ul { height: $smallNavHeight; }
}

/* collapsed nav */
@media screen and (max-width: $collapseNavAt) {

	.show-nav html,
	.show-nav body { height: 100vh; }

	.toggle-nav {  display: block;  }

	.nav-top {
		position: static;
		text-align:center;
		padding:0 0 40px;
		a { 
			float: none; 
			display: inline-block;
		}
	}
	
	.nav {
		height: 100vh !important;
		position:fixed;
		top:0; left:0; right:0;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		@include transform( translate3d(0,-100vh,0) !important );
		background: rgba($greenColor,0.9);
	
		.show-nav & { @include transform( none !important ); }
	
	}
	
	nav {
		text-align: left;
		padding-top: 50px;
		&>ul {
			display: block; 
			height: auto;
			&>li {
				display: block;
				a {
					color: #fff;
				}
			}
		}
		
		div {
		
			top:0; left:auto; right:auto;
			position: relative;
			z-index:2;
			cursor: pointer;
			@include transform( none );
		
			&:after {
				content:"\002B";
				position: absolute;
				right:10px; top:-40px;
				color: #fff;
				font-family: arial,helvetica,sans-serif;
				width: 30px; height: 30px;
				line-height: 26px;
				font-size: 32px;
				border: 2px solid #fff;
				border-radius: 50%;
				text-align:center;
				cursor: pointer;
			}
			
			&:hover:after {
				color: $greenColor;
				background: #fff;
			}
			
			ul { 
				display: none; 
				a { padding-left: 40px; }
			}
		}
	}
	
	.expanded div {
		&:after {
			color: $greenColor;
			background: #fff;		
		}
		ul { display: block; }
	}
	
}