$filterBarBackgroundColor: #000 !default;
$filterBarContentColor: #fff !default;

$filterControlBackgroundColor: #fff !default;
$filterControlBackgroundColorActive: #efefef !default;
$filterControlColor: #000 !default;
$filterControlColorActive: #000 !default;

.filter-bar {

	background: $filterBarBackgroundColor;
	color: $filterBarContentColor; 
	@include display( flex );
	@include flex-flow( row wrap );
	@include align-items( center );
	@include justify-content( space-between );
	
	.count {
		display: inline-block; 
		padding-right: 10px; 
		text-transform: uppercase;
	}
	
	.num { 
		display: inline-block; 
		padding: 0 12px; 
		border-radius: 18px; 
		border: 2px solid $filterBarContentColor;
		line-height: 32px; 
		vertical-align: middle; 
		margin: -4px 4px 0 0;
	}

}

.filter-bar-left,
.filter-bar-meta {
	@include flex( 1 1 auto );
	padding: 15px 0;
}

.filter-bar-meta { 
	@include flex-grow( 0 );
	.single-form {
		margin:0;
		display: inline-block;
		vertical-align:middle;
		&:after { display: none; }
		button { 
			opacity: 0.4; 
			&:hover { opacity: 0.8; }
		}
	}
}

@media screen and (max-width: 650px) {
	.filter-bar-left,
	.filter-bar-meta {
		text-align: center; 
		@include flex( 1 1 auto );
	}
}

.filter-controls {

	display: inline-block;
	vertical-align: middle;

	button {
		@include t-fa-abs();
		width: 38px; height: 40px;
		background: $filterControlBackgroundColor;
		color: $filterControlColor;
		display: inline-block;
		vertical-align: middle;
		margin-left: 1px;
		@include transition( all 0.15s $ease-in-out-sine );
		
		&:before {
			font-size: 20px;
		}
		
		&:hover { 
			background: $filterControlBackgroundColorActive;
			color: $filterControlColorActive;
		}
		
		&.next:before { content: $fa-var-chevron-right; }
		&.previous:before { content: $fa-var-chevron-left; }
		
	}

}

/*

.filter-bar {

	background: $filterBarBackgroundColor;
	color: $filterBarContentColor; 
	line-height:56px; 
	height:56px; 

	.count {
		display: inline-block; 
		padding-right: 10px; 
		text-transform: uppercase;
	}
	
	.num { 
		display: inline-block; 
		padding: 0 12px; 
		border-radius: 18px; 
		border: 2px solid $filterBarContentColor;
		line-height: 32px; 
		vertical-align: middle; 
		margin: -4px 4px 0 0;
	}
	
	.filter-controls {
		float: right;
		height: 100%;
		padding: 8px 0;
	}

}

.filter-controls {

	button {
		@include t-fa-abs();
		width: 38px; height:100%; 
		background: $filterControlBackgroundColor;
		color: $filterControlColor;
		line-height:40px; 
		display:block; float:left; 
		margin-left: 1px;
		@include transition( all 0.15s $ease-in-out-sine );
		
		&:before {
			font-size: 20px;
		}
		
		&:hover { 
			background: $filterControlBackgroundColorActive;
			color: $filterControlColorActive;
		}
		
		&.next:before { content: $fa-var-chevron-right; }
		&.previous:before { content: $fa-var-chevron-left; }
		
	}

}

.filter-bar-meta {
	float: right;
	
	.single-form {
		line-height: 1;
		margin-top: 11px;
		&:after { display: none; }
		
		button {
			opacity:0.4;
			
			&:hover,
			&:focus { opacity: 0.9; }
		}
		
	}
	
}
*/