.grey-bg { background-color: #e8e8e8; }

.body {

	padding-top: $navHeight+$navTopHeight;
	
	@media screen and (max-width: $smallNavAtWidth) {
		& { padding-top: 86px; }
	}
	
	@media screen and (max-width: $collapseNavAt) {
		& { padding-top: 46px; }
	}
	
	section:first-child {
		border-top: 2px solid #e8e8e8;
	}
	
}

.hero+.body { padding-top:0; }

.article-head {

	max-width: 700px;

	.subtitle {
		color: $greyColor;
		font-weight: bold;
		font-size: 24px;
	}
}

.featured-img {
	margin: 0 0 20px;
}

::-webkit-input-placeholder { font-family: $defaultFontStack; font-weight:300;}
::-moz-placeholder { font-family: $defaultFontStack; font-weight:300;}
:-moz-placeholder { font-family: $defaultFontStack; font-weight:300;}
:-ms-input-placeholder { font-family: $defaultFontStack; font-weight:300;}
:placeholder { font-family: $defaultFontStack; font-weight:300;}


.fader-wrap {
	position:relative;
}

.fader { margin-bottom:0; }

.fader-item {

	position: relative;
	opacity:0;
	background: center no-repeat;
	background-size: cover;
	@include transition( 0.3s opacity $ease-in-out-sine );
	&.loaded { opacity:1; }
}

.page-wrapper {
	box-shadow: 0 0 20px rgba(0,0,0,1);
}

.affiliate-logos {

	text-align:center;

	a { 
		display: inline-block;
		vertical-align:middle;
		margin: 15px;
	}
}

/* inline time */
time.i {

	&.dow {
		@include display( inline-flex );
		
		.dow {
			@include display( flex );
			@include align-items( center );
			@include justify-content( center );
			background: $greenColor;
			color: #fff;
			width: 60px;
			font-size: 18px;
			margin: -8px 8px -8px -8px;
			text-transform: uppercase;
		}
	}

	font-size:24px;
	display:inline-block;
	line-height:1;

	.day {
		font-size: 45px;
		display:inline-block;
		vertical-align:baseline;
	}
	
	.year {
		font-size: 45px;
		line-height:1;
		display: block;
		color: #969696;
	}
	
	&.blk {
		border: 1px solid #969696;
		padding: 8px;
		text-align:center;
		font-size: 14px;
		
		.year,
		.day { font-size: 30px; }
		
	}
}

.arrow-controls {
	position:relative;
	padding: 3px 0;
	@include display( flex );
	@include align-items( center );
	@include justify-content( center );
	&:after {
		position:absolute;
		border-right:1px solid $greyColor;
		content:"";
		top:0; left:50%; bottom:0; 
	}
	
	&.centered {
		width: 110px;
		margin: 0 auto;
	}
	
	button { 
		outline: none;
		display:block;
		@include t-fa-abs();
		border-radius: 50%;
		border: 1px solid $greyColor;
		width: 40px; height: 40px;
		line-height:40px;
		@include transition( 0.15s all $ease-in-out-sine );
		color: $greyColor;
		&:before {
			font-size: 32px;
		}
		
		&:hover {
			background: $greyColor;
			color: #fff;
		}
		
	}
	
	.prev {
		margin-right: 5px;
		&:before { 
			content: $fa-var-angle-left; 
			text-indent: -3px;
		}
	}
	
	.next {
		margin-left: 5px;
		&:before { 
			content: $fa-var-angle-right; 
			text-indent: 3px;
		}
	}
}

.grid-tagged-items.auto-collapse .col { 
	@include flex( 1 1 33.3333% );

	@media screen and (max-width: 1000px) {
		& { @include flex( 1 1 50% ); }
	}

	@media screen and (max-width: 600px) {
		& { @include flex( 1 1 100% ); }
	}	
}

.grid-item-with-tag {
	padding: 20px;
	position: relative;
	
	&,
	.hgroup .title {
		color: $bodyContentColor;
	}
	
	&.dark-bg {
	
		.item-tag {
			border-color: #fff;
		}
	
		&,
		.hgroup .title {
			color: $darkBackgroundContentColor;
		}
	}
	
	&.clear {
		border: 3px solid #e6e6e6;
		padding-bottom: 30px;
	}
}

a.grid-item-with-tag.clear {
	@include transition( 0.15s background $ease-in-out-sine );
	&:hover {
		background: #e6e6e6;
	}
}

.item-tag {
	@include t-fa();
	width: 100px;
	margin: -23px 10px 15px -23px;
	border: 3px solid #e6e6e6;
	color: #fff;
	
	.clear & {
		@include linear-gradient( to left, #b5b5b5, #d5d5d5 );
	}
	
	display:inline-block;
	vertical-align:top;
	text-align:center;
	font-size:12px;
	padding: 15px 5px;
	line-height:1;
	&:before {
		display:block;
		font-size:26px;
		margin: 0 0 4px;
	}
}

.item-tag-text {
	font-size: 20px;
	border: none !important;
}

.read-more-tag {
	position: absolute;
	bottom:0; right:0;
	display: inline-block;
	background: #e6e6e6;
	text-transform: uppercase;
	font-size: 12px;
	padding: 4px 8px;
}

.tag-news-release { 
	background: #68bbde; 
	&:before { content:$fa-var-newspaper-o; }
}

.tag-alert { 
	background:#c03636;
	&:before { content:$fa-var-exclamation-triangle; }
}

.tag-event { 
	background:#e2963c;
	&:before { content:$fa-var-calendar; }
}

.the-latest .item {
	position:relative;
	
	p { margin-bottom: 50px; }
	
	.button {
		position:absolute;
		bottom:20px; right: 20px;
	}
}

/* news items */
.news-items { }

.news-item {
	border-bottom: 1px solid $separatorColor;
	padding-bottom: 20px;
	margin-bottom: 20px;
	
	.article-body:last-child {
		margin-bottom: -15px;
	}
	
	.button {
		margin: 5px 0;
	}
	
}

.news-item-title {
	@include display( flex );
	@include align-items( center );
	margin: 0 0 10px;
	
	@media screen and (max-width: 500px) {
		& { 
			display:block; 
			time { margin: 0 0 10px; }
		}
	}
	
	time {
		color: $greyColor;
		@include flex( 0 0 auto );
		padding-right: 15px;
	}
	
	.h5-style {
		margin:0;
		font-size:16px;
		color: #5c5c5c;
	}

}

.mod-controls,
.news-items-controls {
	
	@include display( flex );
	@include align-items( center );
	@include justify-content( space-between );
	@include flex-flow( row wrap );
	
}

.news-item-content {
	@include display( flex );
	@include flex-flow( row wrap );
}

.news-item-content-body {
	@include flex( 2 2 50% );
	padding: 20px 20px 20px 0;
	border-right: 1px solid #e6e6e6;
	margin-right: 20px;
}

.news-item-meta {
	@include flex( 1 1 40% );
	padding: 20px 0 20px 0;
}

@media screen and (max-width: 600px) {
	.news-item-meta { @include flex( 1 1 100% ); }
	.news-item-content-body { border: none;}
}

/* forms grid */
.forms-grid .col {
	position:relative;

	.item {
		position:relative;
		padding-bottom: 60px;
	}
	
	@media screen and (min-width: 950px) {
		&:after {
			position:absolute;
			border-left: 1px solid $separatorColor;
			content:"";
			top:-20px; bottom:20px; left:20px;
		}
	}
	
	&:first-child:after {
		display:none;
	}
	
	

	form {
		position:absolute;
		left:0; right:0; bottom: 20px;
		&:after { display:none; }
		button { color: $greyColor; }
	}
	
	input { padding: 12px; }

}

/* inline search */
.inline-search {
	
}

.inline-search-form {
	@include display( flex );
	@include align-items( center );
	
	@media screen and (max-width: 900px) {
		& { display: block; }
	}
	
	.hgroup {
		@include flex( 0 1 33.333% );
		margin-right: 80px;
		
		@media screen and (max-width: 600px) {
			& { margin-right:0; }
		}
	}
	
	.single-form {
		@include flex( 1 1 auto );
		position:relative;
		border-radius: 6px;
		border: 2px solid #c7c7c7;
		overflow:visible;
		
		&:after { display:none; }
		
		input {
			font-size: 20px;
			padding: 16px 16px 16px 30px;
			outline:none;
		}
		
		button {
			opacity:0.3;
			right: 10px;
			&:before { font-size: 28px; }
			&:hover { opacity:0.6; }
		}
		
		.count {
			position: absolute;
			top: 50%;
			@include transform( translateY(-50%) );
			line-height: 40px;
			color: #fff;
			left: -20px;
			font-size:20px;
			width: 40px; height: 40px;
			background: #c7c7c7;
			border: 2px solid #fff;
			border-radius: 50%;
			text-align:center;
		}
		
	}
	
}

.inline-search-results {
	
	.img-wrap {
		max-width: 380px;
		margin: 0 0 10px;
	}
	
}

.overview-header {
	@include display( flex );
	@include align-items( center );
	margin-bottom: -40px;
}

.overview-content {
	max-width:50%;
	padding-right: 40px;

	.overview-header & {
		padding-bottom: 40px !important;
	}
}

.overview-aside {
	text-align:right;
	@include flex( 1 1 auto );
	max-width: 50%;	
}

@media screen and (max-width: 900px) {
	.overview-aside { display: none; }
	.overview-header { display: block; }
	.overview-content {
		max-width:100%;
		padding:0;
	}
}

.overview-aside img {
	display:block;
	margin:0;
	float:right;
}

.overview-grid {
	@include justify-content( center );
}

.overview-col {
	width: 33.333%;

	@media screen and (max-width: 900px) {
		& { width: 50%; }	
	}

	@media screen and (max-width: 600px) {
		& { width: 100%; }
	}

}

.overview-blocks {

	.item {
		border: 2px solid #dcdcdc;
		text-align:center;
		padding: 30px 10px;
		
		.subtitle {
			color: $bodyContentColor;
			font-size: 18px;
		}
		
	}
	
	.hgroup {
	
		position: relative;
	
		&:after {
			content:"";
			display:block;
			background: #fff url(../images/nape-logo-shield.svg) center no-repeat;
			background-size: contain;
			width: 32px; height: 28px;
			margin: 8px auto;
			position: relative;
			z-index: 2;
		}
		
		&:before {
			position: absolute;
			left:0; right:0; bottom:10px;
			width: 120px;
			margin: 0 auto;
			border-top: 2px solid #dcdcdc;
			content:"";
			z-index: 1;
		}
	}

}

/* sidebar modules */
.mod+.mod {
	border-top: 2px solid #dcdcdc;
	padding-top: 20px;
	margin-top: 20px;
}

.mod-head {
	.subtitle { font-weight:bold; }
}

.mod-in-this-section {

	ul a {
		color: #4d4d4d;
		display: block; 
		padding: 6px 10px;
		
		&.selected,
		&:hover {
			color: #fff;
			background: $greenColor;
		}
	}

}

.mod-contact-us {
	.selector {
		display:block;
	}
}

.mod-the-latest {
	.grid { margin-bottom:0; margin-top:0;}
	.mod-controls { margin-top: -20px; }
	.swipe-item { overflow:hidden; }
}

.member-grid {
	@include justify-content( space-between );
}

.member-col {
	max-width: 33.3333%;
	min-width: 230px;
}

.member {

	span { display:block; }
	a { color: $greenColor; }
}

.member-name {
	font-weight:bold;
	font-size: 17px;
}

.member-title {
	font-style: italic;
}

.member-info {
	
	@include t-fa-abs();
	padding-left: 30px;
	padding-top: 4px;
	min-height: 30px;
	margin: 0 0 2px;
	text-indent:0;
	
	&:before {
		content:"";
		width:24px; height: 24px;
		border-radius: 50%;
		background: $greenColor;
		color: #fff;
		line-height:24px;
		font-size:12px;
	}
	
	&.phone {
		&:before { content: $fa-var-phone; }
	}
	
	&.email {
		&:before { content: $fa-var-envelope; }
	}
}

.acc.clean {
	.acc-item {
		.acc-item-handle {
			background: transparent;
			color: $greyColor;
			border: solid $separatorColor;
			border-width: 0 0 2px;
			font-size:22px;
			padding-left:0;
		}
		
		&.expanded .acc-item-handle,
		.acc-item-handle:hover {
			border-color: $greenColor;
		}
	}
	
	.acc-item-content {
		border: none;
		padding:0;
	}
}

.affiliate-logos {
	margin: -80px 0 0;
}

.affiliates-grid {

	.col {
		@include flex( 1 1 33.33333% );

		@media screen and (max-width: 1000px) {
			& { @include flex( 1 1 50% ); }
		}

		@media screen and (max-width: 600px) {
			& { @include flex( 1 1 100% ); }
		}		

	}

	.item {
		border: 1px solid #ddd;
		background: #f2f2f2;	
		text-align:center;
		color: currentColor;
		padding: 20px 10px;
		@include display( flex );
		@include align-items( center );
		@include justify-content( center );
		
		@include transition( 0.2s background $ease-in-out-sine );
		
		&:hover { background: #eaeaea; }
		
		span {
			display:block;
			margin: 15px 0;
		}
		
	}
	
	
}

/* history grid */
.history-grid {
	border: 1px solid #ddd;
	@include display( inline-flex );
	.history-item:hover {
		background: #ddd;
		cursor: pointer;
	}
}

.history-item {
	@include flex( 1 1 33.3333% );
	border: 1px solid #ddd;
	background: #f2f2f2;
	text-align:center;
	padding: 20px 10px;

	@media screen and (max-width: 1000px) {
		& { 
			@include flex( 1 1 50% );
		}
	}

	@media screen and (max-width: 600px) {
		& { 
			@include flex( 1 1 50% );
		}
	}	
	
	&.mpopup {
		.description-full { display: none; }
	}
}

.history-item-content {

	.year { 
		display: block; 
		font-size:40px;
	}
	
	.description {
		font-size:14px;
		padding: 10px;
		display:block;
	}

}

.mfp-content {
	.history-item-content {
		padding: 20px;
		margin: 0 auto;
		width: 600px;
		max-width: 100%;
		background: #fff;
		
		.description { display: none; }
	}
}

/* magnific popup fade zoom */
/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .mfp-content {
	opacity: 0;
	@include transition( all 0.2s ease-in-out );
	@include transform( scale(0.8) );
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .mfp-content {
	opacity: 1;
	@include transform( scale(1) );
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .mfp-content {
	@include transform( scale(0.8) );
	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	@include transition( opacity 0.3s ease-out );
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

.load-more-arrow {
	cursor: pointer;
	display:block;
	margin: 15px auto;
	font-size: 40px;
	color: $greyColor;
	opacity:0.4;
	width: 50px; height: 50px;
	
	&:hover { opacity:1; }
}

/* pages */
.error404 {
	.article-body {
		h1 { font-size: 72px; }
		p { font-size: 32px; }
	}
}

/* search */
.paginated-items-container { 
	background-color: #eee;
}

.paginated-items-header { 
	background-color: #5b5b5b;
	padding: 15px;	
	color: #fff;
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );
	
	.selector {
		margin:0;
		background: #8b8b8b;
	}
	
	.title {
		font-size: 22px;
	}
	
	.date {
		font-size: 14px;
		text-transform: uppercase;
	}
}

.paginated-items-footer {
	background-color: #b6b6b6;
	padding: 15px;
	@include display( flex );
	@include justify-content( flex-end );
	@include align-items( center );
	
	.arrow-controls { 
		margin-right: 15px; 
		&:after { border-color: #fff; }
		.next,
		.prev {
			color: #fff;
			border-color: #fff;
			
			&:hover {
				background-color: #fff;
				color: $greyColor;
			}
		}
	}
	.count {
		color: #fff;
		font-weight: bold; 
	}
}

.search-result {
	display: block;
	padding: 15px 20px;
	@include display( flex );
	@include align-items( flex-start );
	@include transition( 0.15s background $ease-in-out-sine );
	color: $greyColor;
	
	&:hover {
		background: rgba(#000,0.1);
	}
	
	.lazybg {
		@include flex( 0 0 90px );
		margin-right: 10px;
	}
	
	time {
		@include align-self( center );
		text-align: right;
		@include flex( 0 0 100px );
	}
	
	@media screen and (max-width: 650px) {
		.lazybg { display: none; }
	}
	
	@media screen and (max-width: 550px) {
		& { 
			@include flex-flow( row wrap );
		}
		
		time {
			@include order( -1 );
			@include flex( 1 0 100% );
			text-transform: uppercase;
			font-weight:bold;
			margin: 0 0 8px;
		}
	}
	
}

.search-content {
	
	@include flex( 1 1 auto );

	span:first-child { display: block; }
	
	.button {
		font-size: 12px;
	}
}

.agreement-item {
	padding: 12px;
	@include align-items( center );
	@include justify-content( space-between );
	@include display( flex );
	@include flex-flow( row wrap );
	
	border-top: 1px solid #b6b6b6;
	
	.tag {
		display: block;
		@include flex( 0 0 auto );
		text-transform: none;
		font-weight:bold;
		background: #b6b6b6;
		border-color: #b6b6b6;		
	}
	
	.agreement-item-content {
		padding-left: 15px;
		min-width: 305px;
		@include flex( 1 1 auto );
	}
	
	@media screen and (max-width: 600px) {
		.tag { display: none; }
		.agreement-item-content { padding-left:0; }
	}
	
	.title {
		font-weight:bold;
	}
	
	time {
		display: block;
		font-style: italic;
	}
	
	.actions {
	
		.selector {
			background: #b6b6b6;
			.value {
				text-transform: none;
				font-weight:bold;
				font-size:14px;
			}
			
			&:hover {
				background: $greyColor;
			}
		}
		
	}
	
}

.single-form-wrap {
	@include display( flex );
	border: 1px solid #e7e7e7;
	
	.single-form {
		@include align-self( center );
		@include flex( 1 1 auto );
		border: none;
		&:after { display: none; }
		
		input {
			padding: 14px;
			font-size: 20px;
		}
		
		button {
			opacity:0.4;
			padding: 12px;
			&:hover { opacity:0.8; }
			&:before { font-size: 30px; }
		}
		
	}
	
	.single-form-meta {
		margin: -1px -1px -1px 0;
		@include display( flex );
		@include align-items( center );
		@include flex-flow( column nowrap );
		background: $greenColor;
		color: #fff;
		text-align:center;
		font-size: 28px;
		padding: 12px;
		
		.small {
			display: block;
			font-size: 12px;
			text-transform: lowercase;
		}
		
	}
	
}

.filter-bar {

	padding: 0 10px;
	
	.selector {
		margin: 0;
		border: 2px solid #b6b6b6;
		background: #b6b6b6;
		&:hover { background: $greyColor; }
	}
}

.news-update {}

.featured-news-update {
	
	@media screen and (min-width: 600px) {	
		& {
			padding-left: 100px;
			position: relative;
			min-height: 90px;
			
			time {
				position: absolute;
				top:0; left:0;
			}
		}
	}
	
}

.bordered-news-update {
	margin: 20px 0;
	padding-top: 20px;
	padding-bottom: 20px;
	border: solid #b6b6b6;
	border-width: 1px 0;	
	
	@media screen and (min-width: 600px) {	
		&.featured-news-update time { top: 20px; }
	}
}

.news-update-head {

	@include display( flex );
	@include align-items( flex-start );
	margin-bottom: 15px;
	
	time {
		@include flex( 0 0 auto );
		margin-right: 10px;
		
		@media screen and (max-width: 600px) {
			& { 
				@include order( 2 );
				margin: 0 0 0 10px;
			}
		}
		
	}

	.title { 
		color: $greyColor; 
		margin:0;
	}

}

.news-update-actions {
	margin-top: 15px;
}

.news-update-grid {

	.col {
		@include flex( 0 1 50% );

		@media screen and (max-width: 1020px) {
			& { @include flex( 0 1 100% ); }
		}

	}

	.news-update {
		padding: 15px 15px 65px;
		border: 1px solid #b6b6b6;
		position: relative;
	}
	
	.news-update-actions {
		position: absolute;
		bottom: 15px; left: 15px; right: 15px;
	}
}

.the-latest-header {
	@include display( flex );
}

.the-latest-header-image,
.the-latest-header .news-update {
	@include flex( 1 1 $wrapperWidth/2 );
}

.the-latest-header-image {
	@include order( -1 );
	margin-right: 20px;
	@include flex( 1 2 $wrapperWidth/2 );
}

@media screen and (max-width: 850px) {
	.the-latest-header { 
		@include flex-flow( row wrap ) 
	}
	
	.the-latest-header-image.image {
		margin: 0 0 20px;
	}
	
	.the-latest-header-image.video {
		margin: 20px 0 0;
		@include order( inherit );
	}
}

.the-latest-grid {
	
}

.the-latest-grid-img {
	padding: 0 0 66.6667%;
	height:0;
	margin: -20px -20px 20px;
	position: relative;
	
	.lazybg {
		position: absolute;
		top:0; left:0;
		width: 100%; height: 100%;
	}
	
}

@media screen and (max-width: 800px) {
	.the-latest-grid {
		.item {
			@include display( flex );
		}
	}
	
	.the-latest-grid-img {
		height: auto;
		padding:0;
	}
	
	.the-latest-grid-img {
		@include flex( 1 1 35% );
		margin:-20px 20px -20px -20px;
	}
	
	.the-latest-grid-content {
		@include flex( 1 1 65% );
	}
}

@media screen and (max-width: 600px) {
	.the-latest-grid-img { display: none; }
}

.media-meta {
	@include display( flex );
	@include flex-flow( row wrap );
}

.media-meta-item {
	@include flex( 1 1 350px );
	min-width: 250px;
	margin-bottom: 20px;
	
	.title { margin:0 0 5px; }
	
	@media screen and (max-width: 950px) {
		& { padding: 10px; }
	}
	
}

.gallery-link {
	@include t-fa-abs();
	display: block;
	position: relative;
	&:before { 
		content: $fa-var-camera;
		font-size: 44px;
		text-shadow: 2px 2px 4px rgba(0,0,0,0.4); 
		color: #fff;
		z-index: 2;
	}
	
	&:after {
		z-index: 1;
		background: $greyColor;
		opacity:0.7;
		position: absolute;
		top:0; left:0;
		width: 100%; height: 100%;
		content:"";
	}
}

.flex-controls {
	@include display( flex );
	@include flex-flow( row wrap );
	@include justify-content( space-between );
	@include align-items( center );
	
	div {
		margin: 5px 0;
	}
	
}

.conference-swiper {
	.swipe-item { width: 50%; }
	.item { 
		display: block; 
	}
	
	.swiper {
		margin: 0 -10px;
	}
	
	.slick-track {
		margin: 15px 0;
	}
	
	@media screen and (min-width: 600px) {
		.slick-track {
			@include display( flex );
			margin: 15px 0;
		}
		
		.slick-slide {
			@include flex( 1 1 100% );
			@include display( flex );
			height: auto;
			border: solid transparent;
			border-width: 0 10px;
		}
	}
}

/* media grid */
.media-grid {
	
	.col {
		@include flex( 1 1 33.3333% );

		@media screen and (max-width: 1000px) {
			& { @include flex( 1 1 50% ); }
		}

		@media screen and (max-width: 600px) {
			& { @include flex( 1 1 100% ); }
		}		
	}
	
	.item { 
		text-align:center; 
		padding-bottom: 40px;
		position: relative;
	}
	
	.lazyyt { margin: 0 0 10px; }
	
	time,
	.title { 
		display: block; 
		margin: 0 0 10px; 
	}
	
	time { 
		font-style: italic; 
		&:before,
		&:after {
			content:"\2022";
			display: inline-block;
			margin: 0 4px;
			font-size: 18px;
		}
	}
	
	.title { 
		font-size: 16px; 
		padding: 0 14px;
	}
	
	.button {
		position: absolute;
		bottom:20px; left:0; right:0;
		padding: 6px;
		width: 35%;
		min-width: 100px;
		margin: 0 auto;
	}
	
}

.member-grid {
	@include display( flex );
	@include flex-flow( row wrap );
	@include justify-content( flex-start );
	
	.member {
		@include flex( 0 1 auto );
		min-width: 200px;
		margin: 10px 0;
	}
}

/* local header */
.local-header+.big-fader {
	margin-top: 106px;
}

.local-header {
	background: #909090;
	
	position: absolute;
	top:0; left:0; right:0;
	z-index: 9;
	color: #fff;
	
	.sw {
		padding: 20px 0;
		@include display( flex );
		@include align-items( center );
		@include justify-content( space-between );
	}
	
	.local-title {
		font-size: 40px;
		font-weight: bold;
		@include flex( 0 1 auto );
	}
	
	.local-description {
		font-size: 20px;
		padding: 0 25px;
		@include flex( 0 3 600px );
	}
	
	.local-phone {
		@include flex( 0 0 auto );
		@include display( flex );
		@include align-items( center );
		font-size: 24px;
		&:before {
			width: 60px; height: 60px;
			line-height: 60px;
			content: $fa-var-phone;
			border-radius: 30px;
			color: #909090;
			background: #fff;
			text-align:center;
			font-size: 32px;
			margin-right: 15px;
		}
	}
	
	@media screen and (max-width: $collapseNavAt) {
		.sw { @include flex-flow( row wrap ); }
		.local-description { display: none; }
	}
	
	@media screen and (max-width: 600px) {
		& {
			background: rgba(#909090,0.9);
			& + .big-fader { margin-top:0; }
		}
		.sw { display: block; }
		.local-title { font-size: 24px; text-align: center; }
		.local-phone {
			display:block;
			font-size: 18px;
			text-align: center;
			&:before { display: none; }
			.block { 
				display: inline-block !important; 
				margin: 0 8px;
			}
		}
	}
	
}

/* local fader */
.local-fader {

	.slick-track {
		@include linear-gradient( to bottom, #7d7d7d, #3e3e3e );
	}

	.fader-item {
		opacity:1;
		background: none;
	}
	
	.fader-item-content {
		height: 100%;
		@include display( flex );
		@include align-items( center );
		color: #fff;
	}
	
	.fader-item-content-image {
		height: 100%;
		background: #fff center no-repeat;
		background-size: cover;
	}
	
	.fader-item-content-image,
	.fader-item-content-title {
		@include flex( 1 1 $wrapperWidth/2 );
	}
	
	.fader-item-content-title {
		padding: 0 20px 0 40px;
		
		.title { 
			font-size: 32px; 
			font-weight: bold;
			display: block;
		}
		
		.subtitle {
			font-size: 24px;
			display: block;
			margin: 0 0 8px;
		}
	}
	
	@media screen and (max-width: 700px) {
	
		.hero & {
			height: auto;
			min-height: 0;
			max-height: none;
			
			.slick-track {
				@include display( flex );
			}
			
			.slick-slide { height: auto; }
			
			.sw {
				position: static;
			}
		}
	
		.fader-item-content-image {
			position: absolute;
			top:0; left:0; right:0; bottom:0;
			z-index: -1;
			opacity:0;
			@include transition( 0.4s opacity $ease-in-out-sine );
			
			&.loaded {
				opacity:1;
			}
		}
	
		.fader-item-content-title {
			background-color: rgba(0,0,0,0.6);
			padding: 110px 20px 20px;
		}
	
	}
	
}

/* search form */
.mobile-toggle-search { display: none; }
@media screen and (max-width: $collapseNavAt) {
	.mobile-toggle-search {
		position: fixed;
		display: block;
		top: 2px; right:5px; 
		width: 40px; height: 42px;
		z-index: 24;
		font-size: 20px;
		color: $greenColor;
		@include transition( all 0.2s $ease-in-out-sine );
		&:hover {
			background: $greenColor;
			color: #fff;
		}
	}
	
	.nav .toggle-search { display: none; }
	
}
.global-search-form {
	position: fixed;
	top:0; left:0; right:0; bottom:0;
	background: rgba(255,255,255,0.9); 
	z-index: 99;
	@include transition( 0.4s transform $ease-in-out-sine );
	@include transform( translate3d(0,-100%,0) );
	
	.show-search & {
		@include transform( translate3d(0,0,0) );
	}
	
	.fieldset { 
		@include display( flex ); 
		position: absolute;
		top:0; left:0; right:0;
		width: $wrapperWidth; height: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
	
	input { 
		margin: auto; 
		background: transparent;
		font-size: 32px;
		font-family: $defaultFontStack;
		font-weight: 500;
		padding: 12px;
		border: 3px solid transparent;
		border-bottom-color: #ccc;
		outline: none;
		width: 600px;
		max-width: 80%;
		min-width: 300px;
		@include appearance( none );
	}
	
	.close {
		position: absolute;
		top: 10px; right: 10px;
		font-size: 32px;
		cursor: pointer;
		width: 44px; height: 44px;
		color: $greenColor;
		overflow:visible;
		@include transition( 0.2s color $ease-in-out-sine 0.2s );
		
		&:after {
			background: $greenColor;
			width: 44px; height: 44px; 
			border-radius: 22px;
			position: absolute;
			top:0; left:0;
			@include transform-origin( center );
			@include transform( scale( 0,0) );
			@include perspective( 1px );
			content: "";
			@include transition( 0.2s transform $ease-in-back );
		}
		
		&:hover {
			color: #fff;
			@include transition-delay( 0s );
			
			&:after {
				@include transform( scale( 1,1) );
				@include transition-timing-function( $ease-out-back ); 
			}
		}
	}
	
}